.container {
  width: calc(100% - 3rem);
  margin: auto;
  display: flex;

  @include breakpoint-up(large) {
    overflow: hidden;
  }

  .card {
    width: 100%;
    height: max-content;
    margin: 9rem auto;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0px 15px 40px -20px #000;

    @include breakpoint-up(large) {
      height: 31.6rem;
      display: flex;
      margin: 7rem 10rem;
      overflow: hidden;
    }

    &__top {
      margin-top: -6.9rem;
      padding-bottom: 1rem;
      background: url(/images/bg-pattern-mobile.svg) no-repeat;
      background-position: bottom;
      display: flex;

      @include breakpoint-up(large) {
        margin: 0;
        padding-top: 4rem;
        flex-basis: 71rem;
        background: url(/images/bg-pattern-desktop.svg) no-repeat;
      }

      .illustration {
        margin: auto;
        transform: translateX(-0.5rem);
        width: auto;
        display: flex;

        @include breakpoint-up(large) {
          width: 31rem;
          margin-left: -35px;
          margin-bottom: 21rem;
        }
      }
    }

    &__body {
      padding: 2rem 1.5rem 3rem;
      height: 27rem;
      max-height: 27rem;

      @include breakpoint-up(large) {
        padding: 4rem 6rem 4rem 0;
        height: auto;
        display: flex;
        flex-direction: column;

        &:hover .box {
          transform: translateX(-37rem) translateY(10rem);
        }
      }

      .box {
        display: none;
        position: absolute;

        @include breakpoint-up(large) {
          display: block;
          transform: translateX(-35rem) translateY(9rem);
          transition: all 0.5s ease;
        }
      }

      > * {
        margin: auto;
      }

      .card--title {
        text-align: center;

        @include breakpoint-up(large) {
          width: 100%;
          text-align: left;
        }

        h1 {
          font-size: clamp(2rem, 3vw, 2rem);
          font-weight: 700;
          color: $darkGrayish;
        }
      }

      .card--list {
        padding: 1rem 0;
        border-bottom: 1px solid $lightGrayish;

        .question,
        .answer {
          font-size: clamp(1.1em, 3vw, 0.9rem);
        }

        .question {
          width: 100%;
          border: none;
          background: none;
          color: $darkGrayish;
          font-weight: 400;
          text-align: left;
          cursor: pointer;

          &::after {
            content: url(/images/icon-arrow-down.svg);
            float: right;
            animation: up 0.5s;
            animation-direction: reverse;
            animation-fill-mode: forwards;
          }

          &:hover {
            color: $veryDark !important;
          }
        }

        .active {
          font-weight: 700 !important;
          cursor: unset !important;

          &::after {
            content: url(/images/icon-arrow-down.svg);
            float: right;
            animation: down 0.5s;
            animation-fill-mode: forwards;
          }

          &:hover {
            color: $darkGrayish !important;
          }
        }
        .answer {
          height: 0;
          overflow: hidden;
          animation: popup 0.3s forwards;
        }

        // show answer content
        .show--answer {
          height: max-content !important;
          margin-top: 0.5rem;
          animation: popup 0.3s forwards;
        }
      }
    }
  }
}
